body {
    background: black;
    color: #bbb;
    text-align: center;
    font-family: 'Courier New', monospace;
}

h1 {
    letter-spacing: 5px;
    color: #550000;
    text-shadow: 0 0 10px red;
}

#game {
    width: 400px;
    height: 600px;
    background: #0a0a0a;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #330000;
    box-shadow: 0 0 40px red;
}

#player {
    width: 60px;
    height: 60px;
    background: #ccc;
    position: absolute;
    bottom: 10px;
    left: 170px;
}

.block {
    width: 60px;
    height: 60px;
    background: darkred;
    position: absolute;
    top: 0;
    box-shadow: 0 0 15px red;
}

#flash {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
}